<h2>Suppliers</h2>
<a href="/suppliers/create">+ Add Supplier</a>
<table border="1">
  <tr>
    <th>Name</th><th>Address</th><th>Phone</th><th>Actions</th>
  </tr>
  <% suppliers.forEach(s => { %>
    <tr>
      <td><%= s.name %></td>
      <td><%= s.address %></td>
      <td><%= s.phone %></td>
      <td>
        <a href="/suppliers/edit/<%= s._id %>">Edit</a> |
        <a href="/suppliers/delete/<%= s._id %>">Delete</a>
      </td>
    </tr>
  <% }) %>
</table>
